In [11]:
import mysql.connector 
import pandas as pd 

my_conn = mysql.connector.connect(
    host="relational.fit.cvut.cz",
    port="3306",
    user="guest",
    passwd="relational",
    database="financial",
    use_pure=True
)
my_query = """
SELECT * FROM loan;
"""
df_load = pd.read_sql_query(my_query, my_conn)
print("Dataframe: \n", df_load)

Dataframe:
      loan_id  account_id        date  amount  duration  payments status
0       4959           2  1994-01-05   80952        24    3373.0      A
1       4961          19  1996-04-29   30276        12    2523.0      B
2       4962          25  1997-12-08   30276        12    2523.0      A
3       4967          37  1998-10-14  318480        60    5308.0      D
4       4968          38  1998-04-19  110736        48    2307.0      C
..       ...         ...         ...     ...       ...       ...    ...
677     7294       11327  1998-09-27   39168        24    1632.0      C
678     7295       11328  1998-07-18  280440        60    4674.0      C
679     7304       11349  1995-10-29  419880        60    6998.0      C
680     7305       11359  1996-08-06   54024        12    4502.0      A
681     7308       11362  1996-12-27  129408        24    5392.0      A

[682 rows x 7 columns]

In [10]:
import mysql.connector
import pandas as pd

my_conn = mysql.connector.connect(
    host="relational.fit.cvut.cz",
    port="3306",
    user="guest",
    passwd="relational",
    database="financial",
    use_pure=True
)
mysql_query = """
SELECT * FROM loan;
"""
df_load = pd.read_sql(my_query, my_conn)
print("Dataframe: \n", df_load.head(5))

Dataframe:
    loan_id  account_id        date  amount  duration  payments status
0     4959           2  1994-01-05   80952        24    3373.0      A
1     4961          19  1996-04-29   30276        12    2523.0      B
2     4962          25  1997-12-08   30276        12    2523.0      A
3     4967          37  1998-10-14  318480        60    5308.0      D
4     4968          38  1998-04-19  110736        48    2307.0      C

In [19]:
import psycopg2
import pandas as pd

pg_conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="noval",
    password="noval",
    database="db_transaction_data"
)
pg_query = """
SELECT * FROM trxn.transaction_records
"""

df_transaction = pd.read_sql_query(pg_query, pg_conn)
print("Dataframe: \n", df_transaction)
print("Data type: \n", df_transaction.dtypes)
print("Size: ", df_transaction.shape)
print("Columns: ", df_transaction.columns)

Dataframe:
                                  uuid_trx           date_time  merchant_id  \
0    00f699f6-5d42-11eb-9c42-a29f38f177df 2021-01-23 01:12:19           81
1    04640302-55c3-11eb-a2d1-1e6e338f8729 2021-01-14 12:15:41           81
2    06ec359c-558f-11eb-baf5-c2fd79eab300 2021-01-13 06:03:25           81
3    079bf71e-5c8f-11eb-8526-7276dbb122d1 2021-01-22 03:51:06           81
4    07b0d0f6-5642-11eb-9419-6acc095c8c75 2021-01-14 03:24:42           81
..                                    ...                 ...          ...
135  fe2d4510-58a7-11eb-9563-eeab07294440 2021-01-17 04:39:21           81
136  fe30d220-57f3-11eb-85ba-e62fc76a739e 2021-01-16 07:10:33           81
137  fe6e8246-561d-11eb-9419-6acc095c8c75 2021-01-14 11:06:46           81
138  ff50e89a-5823-11eb-85ba-e62fc76a739e 2021-01-17 12:54:41           81
139  50e6e2d4-9697-11eb-950c-9676dbbe527e 2021-04-06 12:14:07           80

    merchant_code               merchant_name sub_merchant_code  issuer_id  \
0          244778      PT Angkasa Pura Aviasi                            5
1          244778      PT Angkasa Pura Aviasi                            5
2          244778      PT Angkasa Pura Aviasi                            5
3          244778      PT Angkasa Pura Aviasi                            5
4          244778      PT Angkasa Pura Aviasi                            5
..            ...                         ...               ...        ...
135        244778      PT Angkasa Pura Aviasi                            5
136        244778      PT Angkasa Pura Aviasi                            5
137        244778      PT Angkasa Pura Aviasi                            5
138        244778      PT Angkasa Pura Aviasi                            5
139        313110  PT KIRANA PARKIR INDONESIA                            5

    issuer_code   issuer_name device_code  ...       stored_trx_timestamp  \
0       MANDIRI  Bank MANDIRI  DXASLCTPHW  ... 2021-01-23 13:13:00.658223
1       MANDIRI  Bank MANDIRI  CNE9172X23  ... 2021-01-14 00:16:23.197401
2       MANDIRI  Bank MANDIRI  DXASLCTPHW  ... 2021-01-13 21:27:09.676384
3       MANDIRI  Bank MANDIRI  CNE9172X23  ... 2021-01-22 15:51:51.316419
4       MANDIRI  Bank MANDIRI  DXASLCTPHW  ... 2021-01-14 15:25:31.709417
..          ...           ...         ...  ...                        ...
135     MANDIRI  Bank MANDIRI  DXASLCTPHW  ... 2021-01-17 16:40:22.998391
136     MANDIRI  Bank MANDIRI  CNE9172X23  ... 2021-01-16 19:12:01.116144
137     MANDIRI  Bank MANDIRI  DXASLCTPHW  ... 2021-01-14 11:07:27.732428
138     MANDIRI  Bank MANDIRI  CNE9172X23  ... 2021-01-17 00:55:49.748295
139     MANDIRI  Bank MANDIRI  AMUEFRB0XK  ... 2021-04-06 12:17:06.951274

           invoice_number   settle_file_sent_date is_settled  \
0    00*04740874379805907 2021-02-24 19:15:47.024      False
1    00*49109479554972439 2021-02-24 19:15:47.024      False
2    00*43016262185918451 2021-02-24 19:15:47.024      False
3    00*75726515349817841 2021-02-24 19:15:47.024      False
4    00*75761873158322124 2021-02-24 19:15:47.024      False
..                    ...                     ...        ...
135  00*29321964361056990 2021-02-24 19:15:47.024      False
136  00*17510422155100770 2021-02-24 19:15:47.024      False
137  00*53443710898101736 2021-02-24 19:15:47.024      False
138  00*59374555560439977 2021-02-24 19:15:47.024      False
139  00000001040611131416 2021-05-17 12:22:30.163      False

                                   additional_info  \
0    {'shift_id': '1', 'shift_date': '2021-01-23'}
1    {'shift_id': '1', 'shift_date': '2021-01-14'}
2    {'shift_id': '1', 'shift_date': '2021-01-13'}
3    {'shift_id': '1', 'shift_date': '2021-01-22'}
4    {'shift_id': '1', 'shift_date': '2021-01-14'}
..                                             ...
135  {'shift_id': '1', 'shift_date': '2021-01-17'}
136  {'shift_id': '1', 'shift_date': '2021-01-16'}
137  {'shift_id': '1', 'shift_date': '2021-01-14'}
138  {'shift_id': '1', 'shift_date': '2021-01-17'}
139  {'shift_id': '1', 'shift_date': '2021-04-06'}

                         device_name  nmid merchant_brand_name  \
0    Pintu Gerbang Utama - Mobil PK4  None              Aviasi
1    Pintu Gerbang Utama - Mobil PK3  None              Aviasi
2    Pintu Gerbang Utama - Mobil PK4  None              Aviasi
3    Pintu Gerbang Utama - Mobil PK3  None              Aviasi
4    Pintu Gerbang Utama - Mobil PK4  None              Aviasi
..                               ...   ...                 ...
135  Pintu Gerbang Utama - Mobil PK4  None              Aviasi
136  Pintu Gerbang Utama - Mobil PK3  None              Aviasi
137  Pintu Gerbang Utama - Mobil PK4  None              Aviasi
138  Pintu Gerbang Utama - Mobil PK3  None              Aviasi
139   Kirana Commercial Avenue - PK2  None              Kirana

    issuer_ref_number  merchant_ref_number
0                None                 None
1                None                 None
2                None                 None
3                None                 None
4                None                 None
..                ...                  ...
135              None                 None
136              None                 None
137              None                 None
138              None                 None
139              None                 None

[140 rows x 49 columns]
Data type:
 uuid_trx                                 object
date_time                        datetime64[ns]
merchant_id                               int64
merchant_code                            object
merchant_name                            object
sub_merchant_code                        object
issuer_id                                 int64
issuer_code                              object
issuer_name                              object
device_code                              object
payment_channel_id                        int64
payment_channel_code                     object
payment_channel_name                     object
payment_channel_type_code                object
customer_issuer_id                       object
trx_status                               object
amount                                  float64
tid                                      object
mid                                      object
balance_before                          float64
balance_after                           float64
csn                                      object
gps_location                             object
batch_number                              int64
settle_file_generated_status             object
settle_file_generated_date       datetime64[ns]
settle_file_sent_status                  object
settle_file_response_status              object
settle_file_response_date        datetime64[ns]
settlement_file_uuid                     object
response_file_uuid                       object
disburst_status                          object
merchant_discount_rate_status            object
merchant_discount_rate                  float64
merchant_discount_rate_issuer           float64
fee                                     float64
fee_issuer                              float64
is_agregator                               bool
data_raw                                 object
stored_trx_timestamp             datetime64[ns]
invoice_number                           object
settle_file_sent_date            datetime64[ns]
is_settled                                 bool
additional_info                          object
device_name                              object
nmid                                     object
merchant_brand_name                      object
issuer_ref_number                        object
merchant_ref_number                      object
dtype: object
Size:  (140, 49)
Columns:  Index(['uuid_trx', 'date_time', 'merchant_id', 'merchant_code',
       'merchant_name', 'sub_merchant_code', 'issuer_id', 'issuer_code',
       'issuer_name', 'device_code', 'payment_channel_id',
       'payment_channel_code', 'payment_channel_name',
       'payment_channel_type_code', 'customer_issuer_id', 'trx_status',
       'amount', 'tid', 'mid', 'balance_before', 'balance_after', 'csn',
       'gps_location', 'batch_number', 'settle_file_generated_status',
       'settle_file_generated_date', 'settle_file_sent_status',
       'settle_file_response_status', 'settle_file_response_date',
       'settlement_file_uuid', 'response_file_uuid', 'disburst_status',
       'merchant_discount_rate_status', 'merchant_discount_rate',
       'merchant_discount_rate_issuer', 'fee', 'fee_issuer', 'is_agregator',
       'data_raw', 'stored_trx_timestamp', 'invoice_number',
       'settle_file_sent_date', 'is_settled', 'additional_info', 'device_name',
       'nmid', 'merchant_brand_name', 'issuer_ref_number',
       'merchant_ref_number'],
      dtype='object')