In [1]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")

# Tampilkan 3 data teratas
print("Dataframe Top 3: \n", df.head(3))

# Tampilkan 3 data terbawah
print("Dataframe low 3: \n", df.tail(3))

Dataframe Top 3:
    order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000

[3 rows x 9 columns]
Dataframe low 3:
      order_id  order_date  customer_id  ...    brand quantity item_price
98    1612390  2019-01-01        12681  ...  BRAND_S       24     450000
99    1612390  2019-01-01        12681  ...  BRAND_S       24     450000
100   1612390  2019-01-01        12681  ...  BRAND_B        4    1325000

[3 rows x 9 columns]

In [10]:
import psycopg2 as pg
import pandas as pd

pg_conn = pg.connect(
    host="localhost",
    port="5432",
    user="noval",
    password="noval",
    database="db_transaction_data"
)

pg_query = """
SELECT * FROM trxn.transaction_records ORDER BY amount DESC
"""

df_transaction = pd.read_sql(pg_query, pg_conn)

print("Dataframe Transaction Top 10: \n", df_transaction.head(10))

print("Dataframe Transaction Low 10: \n", df_transaction.tail(10))

Dataframe Transaction Top 10:
                                uuid_trx  ... merchant_ref_number
0  e0c156aa-581c-11eb-85ba-e62fc76a739e  ...                None
1  4b905720-5975-11eb-b2f3-06c83ee8335e  ...                None
2  93f6b034-5756-11eb-9563-eeab07294440  ...                None
3  f4bc19c6-59af-11eb-8a1b-ae64aff2cbc8  ...                None
4  76bf998e-5753-11eb-9563-eeab07294440  ...                None
5  2f1f9c80-5b42-11eb-bf48-163a708c4d39  ...                None
6  d0ce9a3c-5d9e-11eb-b948-ba5988ae908a  ...                None
7  1ecebc02-535a-11eb-8d7c-66cf522f95fe  ...                None
8  04640302-55c3-11eb-a2d1-1e6e338f8729  ...                None
9  4fa24ef4-5a79-11eb-9175-1e4b0c6786a7  ...                None

[10 rows x 49 columns]
Dataframe Transaction Low 10:
                                  uuid_trx  ... merchant_ref_number
130  464d90ae-5c93-11eb-8526-7276dbb122d1  ...                None
131  4736fe88-5333-11eb-85dd-6a9915de7af8  ...                None
132  47b68f68-5bda-11eb-85d5-2e56be591302  ...                None
133  2cc309ae-53a4-11eb-9583-0ac72ec0c4c4  ...                None
134  4c9dcfca-581d-11eb-85ba-e62fc76a739e  ...                None
135  4d63637a-5bbf-11eb-85d5-2e56be591302  ...                None
136  29079daa-55ef-11eb-a2d1-1e6e338f8729  ...                None
137  a8df2de0-555e-11eb-aef3-7e467f5ad3cb  ...                None
138  0cd366c0-5bc9-11eb-97e8-a218b7125572  ...                None
139  dd6f8678-55c6-11eb-aef3-7e467f5ad3cb  ...                None

[10 rows x 49 columns]