In [12]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")

# Set multi index
df_x = df.set_index(["order_date", "city", "customer_id"])
print(df_x)

# Print nama dan level dari multi index
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name, ":", level)

                                        order_id  ... item_price
order_date city            customer_id            ...
2019-01-01 Jakarta Selatan 18055         1612339  ...    1934000
                           18055         1612339  ...     604000
                           18055         1612339  ...     747000
                           18055         1612339  ...     450000
                           18055         1612339  ...    1500000
...                                          ...  ...        ...
           Makassar        12681         1612390  ...     450000
                           12681         1612390  ...    1045000
                           12681         1612390  ...     450000
                           12681         1612390  ...     450000
                           12681         1612390  ...    1325000

[101 rows x 6 columns]
order_date : Index(['2019-01-01'], dtype='object', name='order_date')
city : Index(['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
       'Makassar', 'Malang', 'Surabaya', 'Tangerang'],
      dtype='object', name='city')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')

In [13]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")

# Set index
df_x = df.set_index(["province", "brand"])
print("Dataframe index by province and brand\n", df_x)

# Print nama dan level dari multi index
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name, ":", level)

Dataframe index by province and brand
                           order_id  order_date  ...  quantity item_price
province         brand                          ...
DKI Jakarta      BRAND_C   1612339  2019-01-01  ...         4    1934000
                 BRAND_V   1612339  2019-01-01  ...         8     604000
                 BRAND_G   1612339  2019-01-01  ...        12     747000
                 BRAND_B   1612339  2019-01-01  ...        12     450000
                 BRAND_G   1612339  2019-01-01  ...         3    1500000
...                            ...         ...  ...       ...        ...
Sulawesi Selatan BRAND_S   1612390  2019-01-01  ...        10     450000
                 BRAND_R   1612390  2019-01-01  ...        18    1045000
                 BRAND_S   1612390  2019-01-01  ...        24     450000
                 BRAND_S   1612390  2019-01-01  ...        24     450000
                 BRAND_B   1612390  2019-01-01  ...         4    1325000

[101 rows x 7 columns]
province : Index(['Banten', 'DKI Jakarta', 'Jawa Barat', 'Jawa Timur',
       'Sulawesi Selatan'],
      dtype='object', name='province')
brand : Index(['BRAND_A', 'BRAND_B', 'BRAND_C', 'BRAND_D', 'BRAND_E', 'BRAND_F',
       'BRAND_G', 'BRAND_H', 'BRAND_I', 'BRAND_J', 'BRAND_K', 'BRAND_L',
       'BRAND_M', 'BRAND_N', 'BRAND_P', 'BRAND_R', 'BRAND_S', 'BRAND_V',
       'BRAND_W'],
      dtype='object', name='brand')