In [3]:
import pandas as pd

# Melihat data .tsv untuk 10 baris pertama saja
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", nrows=10)
print("Dataframe: \n", df)

# Set index baru
df.index = ["Pesanan ke - " + str(i) for i in range(1, 11) ]
print("Dataframe dengan index baru: \n", df)

Dataframe:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513
5   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3911
6   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1780
7   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3132
8   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1342
9   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P2556

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000
5  BRAND_V         3     2095000
6  BRAND_H         3     2095000
7  BRAND_S         3     1745000
8  BRAND_F         6     1045000
9  BRAND_P         6     1045000
Dataframe dengan index baru:
                  order_id  order_date  customer_id             city  \
Pesanan ke - 1    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke - 2    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke - 3    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke - 4    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke - 5    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke - 6    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke - 7    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke - 8    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke - 9    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke - 10   1612339  2019-01-01        18055  Jakarta Selatan

                    province product_id    brand  quantity  item_price
Pesanan ke - 1   DKI Jakarta      P0648  BRAND_C         4     1934000
Pesanan ke - 2   DKI Jakarta      P3826  BRAND_V         8      604000
Pesanan ke - 3   DKI Jakarta      P1508  BRAND_G        12      747000
Pesanan ke - 4   DKI Jakarta      P0520  BRAND_B        12      450000
Pesanan ke - 5   DKI Jakarta      P1513  BRAND_G         3     1500000
Pesanan ke - 6   DKI Jakarta      P3911  BRAND_V         3     2095000
Pesanan ke - 7   DKI Jakarta      P1780  BRAND_H         3     2095000
Pesanan ke - 8   DKI Jakarta      P3132  BRAND_S         3     1745000
Pesanan ke - 9   DKI Jakarta      P1342  BRAND_F         6     1045000
Pesanan ke - 10  DKI Jakarta      P2556  BRAND_P         6     1045000

In [8]:
import pandas as pd

df = pd.DataFrame({
    "day_number": [1, 2, 3, 4, 5, 6, 7],
    "week_type": ["weekday" for i in range(5)] + ["weekend" for i in range(2)]
})
print("Dataframe: \n", df, "\n")

# Definisikan indexnya dan assign
df.index = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
print("Dataframe dengan index baru: \n", df)

Dataframe:
    day_number week_type
0           1   weekday
1           2   weekday
2           3   weekday
3           4   weekday
4           5   weekday
5           6   weekend
6           7   weekend

Dataframe dengan index baru:
            day_number week_type
Monday              1   weekday
Tuesday             2   weekday
Wednesday           3   weekday
Thursday            4   weekday
Friday              5   weekday
Saturday            6   weekend
Sunday              7   weekend

In [11]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", nrows=30)
print("Dataframe: \n", df)

df.index = ["Data ke - " + str(i) for i in range(1, 31)]
print("Dataframe new index: \n", df)

Dataframe:
     order_id  order_date  customer_id             city     province  \
0    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
1    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
2    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
3    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
4    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
5    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
6    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
7    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
8    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
9    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
10   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
11   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
12   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
13   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
14   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
15   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
16   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
17   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
18   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
19   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
20   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
21   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
22   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
23   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
24   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
25   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
26   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
27   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
28   1612342  2019-01-01        13963    Jakarta Utara  DKI Jakarta
29   1612342  2019-01-01        13963    Jakarta Utara  DKI Jakarta

   product_id    brand  quantity  item_price
0       P0648  BRAND_C         4     1934000
1       P3826  BRAND_V         8      604000
2       P1508  BRAND_G        12      747000
3       P0520  BRAND_B        12      450000
4       P1513  BRAND_G         3     1500000
5       P3911  BRAND_V         3     2095000
6       P1780  BRAND_H         3     2095000
7       P3132  BRAND_S         3     1745000
8       P1342  BRAND_F         6     1045000
9       P2556  BRAND_P         6     1045000
10      P2154  BRAND_M         4     1745000
11      P1685  BRAND_H        12      747000
12      P3665  BRAND_S         4     2375000
13      P0219  BRAND_A         8     1045000
14      P1680  BRAND_H        12      747000
15      P1679  BRAND_H        12      747000
16      P2159  BRAND_M        24      310000
17      P3837  BRAND_V         4     1500000
18      P2783  BRAND_P         2      555000
19      P1255  BRAND_E         3     1500000
20      P1118  BRAND_D         4     2795000
21      P2660  BRAND_P         6     1045000
22      P1597  BRAND_G        18      520000
23      P0968  BRAND_C         6      904000
24      P4075  BRAND_W         6      904000
25      P4057  BRAND_W         4     2095000
26      P4060  BRAND_W         6     2795000
27      P4009  BRAND_W         6     1045000
28      P1306  BRAND_F         8     1325000
29      P1305  BRAND_F         4     1325000
Dataframe new index:
               order_id  order_date  customer_id             city     province  \
Data ke - 1    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 2    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 3    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 4    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 5    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 6    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 7    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 8    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 9    1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 10   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 11   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 12   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 13   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 14   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 15   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 16   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 17   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 18   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 19   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 20   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 21   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 22   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 23   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 24   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 25   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 26   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 27   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 28   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta
Data ke - 29   1612342  2019-01-01        13963    Jakarta Utara  DKI Jakarta
Data ke - 30   1612342  2019-01-01        13963    Jakarta Utara  DKI Jakarta

             product_id    brand  quantity  item_price
Data ke - 1       P0648  BRAND_C         4     1934000
Data ke - 2       P3826  BRAND_V         8      604000
Data ke - 3       P1508  BRAND_G        12      747000
Data ke - 4       P0520  BRAND_B        12      450000
Data ke - 5       P1513  BRAND_G         3     1500000
Data ke - 6       P3911  BRAND_V         3     2095000
Data ke - 7       P1780  BRAND_H         3     2095000
Data ke - 8       P3132  BRAND_S         3     1745000
Data ke - 9       P1342  BRAND_F         6     1045000
Data ke - 10      P2556  BRAND_P         6     1045000
Data ke - 11      P2154  BRAND_M         4     1745000
Data ke - 12      P1685  BRAND_H        12      747000
Data ke - 13      P3665  BRAND_S         4     2375000
Data ke - 14      P0219  BRAND_A         8     1045000
Data ke - 15      P1680  BRAND_H        12      747000
Data ke - 16      P1679  BRAND_H        12      747000
Data ke - 17      P2159  BRAND_M        24      310000
Data ke - 18      P3837  BRAND_V         4     1500000
Data ke - 19      P2783  BRAND_P         2      555000
Data ke - 20      P1255  BRAND_E         3     1500000
Data ke - 21      P1118  BRAND_D         4     2795000
Data ke - 22      P2660  BRAND_P         6     1045000
Data ke - 23      P1597  BRAND_G        18      520000
Data ke - 24      P0968  BRAND_C         6      904000
Data ke - 25      P4075  BRAND_W         6      904000
Data ke - 26      P4057  BRAND_W         4     2095000
Data ke - 27      P4060  BRAND_W         6     2795000
Data ke - 28      P4009  BRAND_W         6     1045000
Data ke - 29      P1306  BRAND_F         8     1325000
Data ke - 30      P1305  BRAND_F         4     1325000