In [1]:
import pandas as pd

# Set index saat read data tsv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["order_date", "order_id"])

print("Dataframe: \n", df.head(8))

Dataframe:
                      customer_id             city  ... quantity item_price
order_date order_id                                ...
2019-01-01 1612339         18055  Jakarta Selatan  ...        4    1934000
           1612339         18055  Jakarta Selatan  ...        8     604000
           1612339         18055  Jakarta Selatan  ...       12     747000
           1612339         18055  Jakarta Selatan  ...       12     450000
           1612339         18055  Jakarta Selatan  ...        3    1500000
           1612339         18055  Jakarta Selatan  ...        3    2095000
           1612339         18055  Jakarta Selatan  ...        3    2095000
           1612339         18055  Jakarta Selatan  ...        3    1745000

[8 rows x 7 columns]

In [4]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["city"])

print("Dataframe: \n", df)

Dataframe:
                  order_id  order_date  ...  quantity item_price
city                                   ...
Jakarta Selatan   1612339  2019-01-01  ...         4    1934000
Jakarta Selatan   1612339  2019-01-01  ...         8     604000
Jakarta Selatan   1612339  2019-01-01  ...        12     747000
Jakarta Selatan   1612339  2019-01-01  ...        12     450000
Jakarta Selatan   1612339  2019-01-01  ...         3    1500000
...                   ...         ...  ...       ...        ...
Makassar          1612390  2019-01-01  ...        10     450000
Makassar          1612390  2019-01-01  ...        18    1045000
Makassar          1612390  2019-01-01  ...        24     450000
Makassar          1612390  2019-01-01  ...        24     450000
Makassar          1612390  2019-01-01  ...         4    1325000

[101 rows x 8 columns]

In [7]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["province", "city", "order_id"])

print("Dataframe: \n", df.head(200))

Dataframe:
                                            order_date  ...  item_price
province         city            order_id              ...
DKI Jakarta      Jakarta Selatan 1612339   2019-01-01  ...     1934000
                                 1612339   2019-01-01  ...      604000
                                 1612339   2019-01-01  ...      747000
                                 1612339   2019-01-01  ...      450000
                                 1612339   2019-01-01  ...     1500000
...                                               ...  ...         ...
Sulawesi Selatan Makassar        1612390   2019-01-01  ...      450000
                                 1612390   2019-01-01  ...     1045000
                                 1612390   2019-01-01  ...      450000
                                 1612390   2019-01-01  ...      450000
                                 1612390   2019-01-01  ...     1325000

[101 rows x 6 columns]