In [2]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
print("Dataframe: \n", df, "\n")

# Slicing dataframe
df_slicing = df.loc[
    (df["customer_id"] == "18055") &
    (df["customer_id"].isin(["P0029", "P0040", "P0041", "P0116", "P0117"]))
]
print("Dataframe after slicing: \n", df_slicing)

Dataframe:
      order_id  order_date  customer_id             city          province  \
0     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
1     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
2     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
3     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
4     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
..        ...         ...          ...              ...               ...
96    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
97    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
98    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
99    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
100   1612390  2019-01-01        12681         Makassar  Sulawesi Selatan

    product_id    brand  quantity  item_price
0        P0648  BRAND_C         4     1934000
1        P3826  BRAND_V         8      604000
2        P1508  BRAND_G        12      747000
3        P0520  BRAND_B        12      450000
4        P1513  BRAND_G         3     1500000
..         ...      ...       ...         ...
96       P3388  BRAND_S        10      450000
97       P3082  BRAND_R        18     1045000
98       P3354  BRAND_S        24      450000
99       P3357  BRAND_S        24      450000
100      P0422  BRAND_B         4     1325000

[101 rows x 9 columns]

Dataframe after slicing:
 Empty DataFrame
Columns: [order_id, order_date, customer_id, city, province, product_id, brand, quantity, item_price]
Index: []

In [8]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
print("Dataframe: \n", df.head(10), "\n")

# Slicing dataframe
df_slicing = df.loc[
    (df["city"] == "Jakarta Selatan") &
    (df["product_id"] == "P0648")
]
print("Dataframe after slicing: \n", df_slicing)

Dataframe:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513
5   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3911
6   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1780
7   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3132
8   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1342
9   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P2556

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000
5  BRAND_V         3     2095000
6  BRAND_H         3     2095000
7  BRAND_S         3     1745000
8  BRAND_F         6     1045000
9  BRAND_P         6     1045000

Dataframe after slicing:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648

     brand  quantity  item_price
0  BRAND_C         4     1934000