In [17]:
import pandas as pd

# Creating series from list
ex_list = ['a', 1, 3, 5, 'c', 'd']
ex_series = pd.Series(ex_list)
print("Series:", ex_series, "\n")

# Creating dataframe from list of list
ex_list_of_list = [
    [1, 'a', 'b', 'c'],
    [2.5, 'd', 'e', 'f'],
    [5, 'g', 'h', 'i'],
    [7.5, 'j', 10, 'l']
]
index = ['dq', 'lab', 'kar', 'lan']
cols = ['float', 'char', 'obj', 'char']
ex_df = pd.DataFrame(ex_list_of_list, index = index, columns = cols)
print("Dataframe: ", ex_df, "\n")

club_list = [
    ["Manchester City", "Atletico Madrid", "Inter Milan"],
    ["Manchester United", "Real Madrid", "AC Milan"],
    ["Liverpool", "Barcelona", "Juventus"]
]
klasemen = [1, 2, 3]
league = ["EPL", "La Liga", "Seri A"]
clubs = pd.DataFrame(club_list, columns = league, index = klasemen)
print("Clubs: ", clubs)

Series: 0    a
1    1
2    3
3    5
4    c
5    d
dtype: object

Dataframe:       float char obj char
dq     1.0    a   b    c
lab    2.5    d   e    f
kar    5.0    g   h    i
lan    7.5    j  10    l

Clubs:                   EPL          La Liga       Seri A
1    Manchester City  Atletico Madrid  Inter Milan
2  Manchester United      Real Madrid     AC Milan
3          Liverpool        Barcelona     Juventus