In [15]:
import numpy as np
import pandas as pd

ts = pd.Series({
    "2020-01-01": 9,
    "2020-01-02": np.nan,
    "2020-01-05": np.nan,
    "2020-01-07": 24,
    "2020-01-10": np.nan,
    "2020-01-12": np.nan,
    "2020-01-15": 33,
    "2020-01-17": np.nan,
    "2020-01-16": 40,
    "2020-01-20": 45,
    "2020-01-22": 52,
    "2020-01-25": 75,
    "2020-01-28": np.nan,
    "2020-01-30": np.nan,
})
print("Data ts: \n", ts)
print("Data ts missing value: ", ts.isna().sum())
print("Type: ", ts.dtypes)

print("\n---------------\n")

# Isi missing value dengan interpolasi linier
ts = ts.interpolate()
print("Data ts setelah interpolasi: \n", ts)
print("Data ts missing value: ", ts.isna().sum())
print("Type: ", ts.dtypes)

Data ts:
 2020-01-01     9.0
2020-01-02     NaN
2020-01-05     NaN
2020-01-07    24.0
2020-01-10     NaN
2020-01-12     NaN
2020-01-15    33.0
2020-01-17     NaN
2020-01-16    40.0
2020-01-20    45.0
2020-01-22    52.0
2020-01-25    75.0
2020-01-28     NaN
2020-01-30     NaN
dtype: float64
Data ts missing value:  7
Type:  float64

---------------

Data ts setelah interpolasi:
 2020-01-01     9.0
2020-01-02    14.0
2020-01-05    19.0
2020-01-07    24.0
2020-01-10    27.0
2020-01-12    30.0
2020-01-15    33.0
2020-01-17    36.5
2020-01-16    40.0
2020-01-20    45.0
2020-01-22    52.0
2020-01-25    75.0
2020-01-28    75.0
2020-01-30    75.0
dtype: float64
Data ts missing value:  0
Type:  float64

In [19]:
import numpy as np 
import pandas as pd

sample = pd.Series([3, 8, np.nan, np.nan, 12, 18, 19, 21, np.nan, 30, 35, np.nan])
print("Dataframe sample: \n", sample)
print("Data sample missing value: ", sample.isna().sum())
print("Type: ", sample.dtypes)

print("\n---------------\n")

# Isi missing value dengan interpolasi linier
sample = sample.interpolate()
print("Dataframe sample: \n", sample)
print("Data sample missing value: ", sample.isna().sum())
print("Type: ", sample.dtypes)
print("Mean: %f, Median: %f." %(sample.mean(), sample.median()))

Dataframe sample:
 0      3.0
1      8.0
2      NaN
3      NaN
4     12.0
5     18.0
6     19.0
7     21.0
8      NaN
9     30.0
10    35.0
11     NaN
dtype: float64
Data sample missing value:  4
Type:  float64

---------------

Dataframe sample:
 0      3.000000
1      8.000000
2      9.333333
3     10.666667
4     12.000000
5     18.000000
6     19.000000
7     21.000000
8     25.500000
9     30.000000
10    35.000000
11    35.000000
dtype: float64
Data sample missing value:  0
Type:  float64
Mean: 18.875000, Median: 18.500000.